.preview__container {
  width: 100%;
  height: 76.5rem;
  margin-top: -9.1rem;
  padding: 12.2rem 0 0 12rem;
  background: url(../assets/img/preview-image.webp) 50% 0 no-repeat;
}

.site-about {
  max-width: 89.2rem;
}

.main-title {
  margin: 0;
}

.main-description {
  margin: 3rem auto 3rem;
}

.search-form {
  @extend %flex-centered-items-space-btw;
  width: 100%;
  height: 9.5rem;
  margin-top: 4.8rem;
  padding: 1.8rem;

  background-color: rgba($light-color, 0.7);
  border-radius: 1.6rem;
}

.search-form__field {
  width: 70%;
  height: 100%;
  padding: 2.8rem 2.2rem 2rem;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;

  &:focus {
    outline: none;
    margin-bottom: 1rem;
    box-shadow: 0.4rem 0.4rem 0.5rem rgba($brand-color, 0.6);
  }
}
