.stories__container {
  position: relative;
  margin-bottom: -5.4rem;
  padding-top: 1.8rem;
  padding-bottom: 7rem;
  padding-left: 12rem;
  padding-right: 12rem;

  background: url(../assets/img/bot_on_the_lake.webp) 50% 14.4rem/cover no-repeat;

    &:before {
    content: "";
    background-color: $light-color;
    position: absolute;
    top: 14.4rem;
    left: 0;
    right: 0;
    bottom: 5.8rem;
    opacity: 0.7;
  }

  @include media-tablet-landscape {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.stories-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 1.2rem;
}

.stories-list__item {
  position: relative;
  z-index: 1;

  max-width: 120rem;
  margin: 0 auto;
}

.story-photo {
  @extend %flex-centered-items-space-btw;
  column-gap: 4rem;

  img {
    display: block;

    filter: drop-shadow(0px 4px 4px $button-color);
    border-radius: 16px;

    @include media-tablet-landscape {
      width: 300px;
      height: 187.5px;
      border-radius: 8px;
    }
  }

  @include media-tablet-landscape {
    column-gap: 2rem;
  }
}

.story-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-description__title {
  margin: 0;
}

.story-description__text {
  margin: 2.2rem 0 1rem;

  @include media-desktop-large {
    margin: 1.6rem 0 1rem;
  }

  @include media-tablet-landscape {
    margin: 1.2rem 0 1rem;
  }
}

.overflow-text {
  display: -webkit-inline-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include media-desktop-large {
    -webkit-line-clamp: 5;
  }

  @include media-tablet-landscape {
    -webkit-line-clamp: 4;
  }
}
