html {
  box-sizing: border-box;
  font: $text-font;
  font-size: 0.625em;
  color: $text-color;

  background-color: $bg-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;

  @extend %transition;
}

/**
 * Basic styles for lists
 */
ul {
  list-style: none;
  padding: 0;
}

/**
 * Reset margins for figure
 */
figure {
  margin: 0;
  padding: 0;
}
