/**
 * Basic typography style for copy text
 */

.button {
  font: $button-font;
  color: $light-color;

  &_small {
    font: $navigation-font;
  }
}

.header {
 color: $light-color;
}

.logo {
  font: $logo-font;
  color: inherit;
}

.nav-link {
  font: $navigation-font;
  color: inherit;
}

.preview {
  color: $light-color;
}

.main-title {
  font: $title-font;
}

.section-title {
  font: $section-title-font;
  color: $brand-color;
  text-align: center;
  text-transform: uppercase;
}

.main-description {
  font: $main-subtitle-font;
}

.search-form__field {
  &::placeholder {
    font: $placeholder-font;
    color: $brand-color;
  }

  &:focus {
    font: $placeholder-font;
    color: $brand-color;
  }
}

.step-description {
  font: $text-font;
  color: $text-color;
}

.carousel__link {
  font: $carousel-font;
  color: $light-color;
  text-transform: uppercase;
}

.story-description__title {
  font: $section-subtitle-font;
}

.story-description__text {
  font: $text-font;
}

.read-more {
  font: $link-font;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.copyright {
  font: $navigation-font;
  color: $light-color;
}
