/// Fonts
$logo-font: normal 700 3.2rem/normal "Magra-Bold";
$title-font: normal 700 8rem/normal "Aleo-Bold";
$main-subtitle-font: italic 700 2rem/normal "Aleo-Bold-Italic";
$placeholder-font: italic 400 2.4rem/normal "Aleo-Italic";

$section-title-font: normal 500 4rem/normal "RedHatText-Medium";

$section-subtitle-font: normal 400 3.5rem/normal "Aleo-Regular";
$section-text-font: normal 400 2rem/normal "Aleo-Regular";
$link-font: normal 400 2rem/normal "Aleo-Bold";

$navigation-font: normal 500 1.6rem/normal "RedHatText-Medium";
$button-font: normal 500 2.4rem/normal "RedHatText-Medium";
$carousel-font: normal 500 3.2rem/normal "RedHatText-Medium";



/// Text color
/// @type Color
$text-color: #0D606F !default;

/// Main brand color
/// @type Color
$brand-color: #F2785C !default;
$header-color: rgba(242, 120, 92, 0.7) !default;

/// Background color
/// @type Color
$bg-color: #E5E5E5 !default;

/// Button color
/// @type Color
$button-color: #0D606F !default;

/// Light color
/// @type Color
$light-color: #ffffff !default;

/// Social icons color
/// @type Color
$social-icons-color: #ffffff !default;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

