.carousel,
.carousel__pagination {
  @extend %flex-centered-items;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.carousel {
  height: 80rem;
  justify-content: center;
  column-gap: 6rem;
  margin: 1.2rem 0;

  @include media-desktop {
    height: 60rem;
    justify-content: center;
    column-gap: 4rem;
    margin: 1rem 0;
  }

  @include media-tablet-landscape {
    height: 40rem;
    justify-content: center;
    column-gap: 3rem;
  }
}

.carousel__item {
  width: 80rem;
  height: 80rem;
  flex-shrink: 0;

  background-color: $button-color;
  border-radius: 16px;
  cursor: pointer;

  @include media-desktop {
    width: 60rem;
    height: 60rem;
  }

  @include media-tablet-landscape {
    width: 40rem;
    height: 40rem;
  }
}

#carousel__item_left {
  background: url(../assets/img/spain.webp) 50% 0 no-repeat;
}

#carousel__item_active {
  background: url(../assets/img/japan_gates.webp) 50% 0 no-repeat;
}

#carousel__item_right {
  background: url(../assets/img/golden_gates.webp) 50% 0 no-repeat;
}

.carousel__link {
  position: relative;
  left: calc(50% - 10.8rem/2 - 33.1rem);
  top: calc(50% - 4.2rem/2 + 33.9rem);

  @include media-desktop {
    left: calc(50% - 8.8rem/2 - 23.1rem);
    top: calc(50% - 3.2rem/2 + 23.9rem);
  }

  @include media-tablet-landscape {
    left: calc(50% - 7.6rem/2 - 13.1rem);
    top: calc(50% - 2.2rem/2 + 13.9rem);
  }
}

.carousel__pagination {
  width: 8rem;
  @extend %flex-centered-items-space-btw;
  margin: 1.2rem auto;
}

.carousel__pagination-bullet {
  width: 2rem;
  height: 2rem;

  background-color: rgba($brand-color, 0.5);
  border-radius: 50%;

  &:nth-child(2) {
    background-color: $brand-color;
  }
}
